In [38]:
import numpy as np
import pandas as pd

#### First, read the relevant Wikipedia table into a pandas Dataframe

In [39]:
wikipedia_page_to_scrape_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(wikipedia_page_to_scrape_url)[0]

#### Filter out rows which have "Not assigned" as Neighbourhood

In [40]:
df = df[df['Borough'] != "Not assigned"]

#### Combine all rows with same Postcode into one row, with the different neighbourhoods separated with a comma

In [41]:
df = df.groupby('Postcode')['Neighbourhood'].apply(','.join).reset_index()

#### We can see the result dataframe obtained by aforementioned steps:

In [44]:
df

    Postcode                                      Neighbourhood
0        M1B                                      Rouge,Malvern
1        M1C               Highland Creek,Rouge Hill,Port Union
2        M1E                    Guildwood,Morningside,West Hill
3        M1G                                             Woburn
4        M1H                                          Cedarbrae
..       ...                                                ...
98       M9N                                             Weston
99       M9P                                          Westmount
100      M9R  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W                                          Northwest

[103 rows x 2 columns]

#### Using the shape method, we can show the number of rows and columns (respectively) in our dataframe

In [46]:
df.shape

(103, 2)